In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder, MinMaxScaler

C:\Users\NIshant\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
os.chdir("C:/Users/NIshant/Downloads")

In [3]:
os.getcwd()

'C:\\Users\\NIshant\\Downloads'

In [4]:
train=pd.read_csv("train_ZoGVYWq.csv")

In [215]:
train.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,renewal
0,110936,0.429,12058,355060,0.0,0.0,0.0,99.02,13,C,Urban,3300,1
1,41492,0.010,21546,315150,0.0,0.0,0.0,99.89,21,A,Urban,18000,1
2,31300,0.917,17531,84140,2.0,3.0,1.0,98.69,7,C,Rural,3300,0
3,19415,0.049,15341,250510,0.0,0.0,0.0,99.57,9,A,Urban,9600,1
4,99379,0.052,31400,198680,0.0,0.0,0.0,99.87,12,B,Urban,9600,1

In [ ]:
sns.factorplot('Income',data=train,kind='count')

In [ ]:
sns.factorplot('renewal',data=train,kind='count')

In [ ]:
sns.barplot(x='Sex', y='Survived', data=train_df)

In [ ]:
sns.barplot(x='Pclass', y='Survived', data=train_df)

In [ ]:
sns.factorplot('residence_area_type',data=train,kind='count')

In [ ]:
sns.factorplot('renewal',data=train,kind='count',hue='residence_area_type')

In [ ]:
sns.factorplot('renewal',data=train,kind='count',hue='Income')

In [ ]:
plt.bar(range(len(train)), train, alpha=0.5, color='g')
plt.xlabel('Income', fontsize=5)
plt.ylabel('Rene', fontsize=5)
plt.title('Photu')
plt.legend()
plt.show()

In [216]:
df=train

In [189]:
df.head()

,id,perc_premium_paid_by_cash_credit,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,renewal,age_years
0,110936,0.429,355060,0.0,0.0,0.0,99.02,13,C,Urban,3300,1,33.035616
1,41492,0.010,315150,0.0,0.0,0.0,99.89,21,A,Urban,18000,1,59.030137
2,31300,0.917,84140,2.0,3.0,1.0,98.69,7,C,Rural,3300,0,48.030137
3,19415,0.049,250510,0.0,0.0,0.0,99.57,9,A,Urban,9600,1,42.030137
4,99379,0.052,198680,0.0,0.0,0.0,99.87,12,B,Urban,9600,1,86.027397

In [188]:
df['age_years']=df['age_in_days']/365
categorical_features = ['age_in_days']
df = df.drop(categorical_features, axis=1)

In [133]:
df.dtypes

id                                    int64
perc_premium_paid_by_cash_credit    float64
age_in_days                           int64
Income                              float64
Count_3-6_months_late               float64
Count_6-12_months_late              float64
Count_more_than_12_months_late      float64
application_underwriting_score      float64
no_of_premiums_paid                   int64
sourcing_channel                     object
residence_area_type                  object
premium                             float64
renewal                               int64
dtype: object

In [217]:
df['Count_3-6_months_late'].fillna(df['Count_3-6_months_late'].median(),inplace=True)
df['Count_6-12_months_late'].fillna(df['Count_6-12_months_late'].median(),inplace=True)
df['Count_more_than_12_months_late'].fillna(df['Count_more_than_12_months_late'].median(),inplace=True)
df['application_underwriting_score'].fillna(df['Count_more_than_12_months_late'].median(),inplace=True)

In [218]:
df_renewed = df.renewal
df_train= df.drop('renewal',axis=1)

In [221]:
df_train['residence_area_type'].replace(['Rural','Urban'],[0,1],inplace=True)
test['residence_area_type'].replace(['Rural','Urban'],[0,1],inplace=True)

In [222]:
df_train['sourcing_channel'].replace(['A','B','C','D','E'],[0,1,2,3,4],inplace=True)
test['sourcing_channel'].replace(['A','B','C','D','E'],[0,1,2,3,4],inplace=True)

ValueError: labels ['age_in_days'] not contained in axis

In [223]:
X_train, X_test, Y_train, Y_test = train_test_split(df_train,df_renewed,test_size=0.33)

In [169]:
df.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [224]:
ss = StandardScaler()
scale_features = ['Income']
df[scale_features] = ss.fit_transform(df[scale_features])

In [225]:
ss = StandardScaler()
scale_features = ['premium']
df[scale_features] = ss.fit_transform(df[scale_features])

In [118]:
df_train.dtypes

id                                    int64
perc_premium_paid_by_cash_credit    float64
age_in_days                           int64
Income                              float64
Count_3-6_months_late               float64
Count_6-12_months_late              float64
Count_more_than_12_months_late      float64
application_underwriting_score      float64
no_of_premiums_paid                   int64
sourcing_channel                     object
residence_area_type                   int64
premium                             float64
dtype: object

In [197]:
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [198]:
Y_pred1 = logreg.predict(X_test)
logreg.score(X_train, Y_train)

0.9376273340685221

In [219]:
test=pd.read_csv("test_66516Ee.csv")

In [205]:
test.isnull().any()

id                                  False
perc_premium_paid_by_cash_credit    False
age_in_days                         False
Income                              False
Count_3-6_months_late                True
Count_6-12_months_late               True
Count_more_than_12_months_late       True
application_underwriting_score       True
no_of_premiums_paid                 False
sourcing_channel                    False
residence_area_type                 False
premium                             False
dtype: bool

In [220]:
test['Count_3-6_months_late'].fillna(df['Count_3-6_months_late'].median(),inplace=True)
test['Count_6-12_months_late'].fillna(df['Count_6-12_months_late'].median(),inplace=True)
test['Count_more_than_12_months_late'].fillna(df['Count_more_than_12_months_late'].median(),inplace=True)
test['application_underwriting_score'].fillna(df['Count_more_than_12_months_late'].median(),inplace=True)

In [232]:
submission = pd.DataFrame({
        "id": test["id"],
        "renewal": Y_pred2
    })
submission.to_csv("submission.csv",index=False)

In [ ]:
submission = pd.read_csv("sample_submission.csv")
Y_pred2= decision_tree.predict_proba(test)
submission[id]=Y_pred2
submission.to_csv('submission.csv', index=False)
#Y_pred1 = logreg.predict_proba(X_test)

In [231]:
columns=['id','perc_premium_paid_by_cash_credit','age_in_days','Income','Count_3-6_months_late','Count_6-12_months_late','Count_more_than_12_months_late','application_underwriting_score','no_of_premiums_paid','sourcing_channel','residence_area_type','premium']
decision_tree = RandomForestClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred2 = decision_tree.predict_proba(test[columns])[:,1]
decision_tree.score(X_train, Y_train)

0.9961496046802863

In [199]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier() 
knn.fit(X_train,Y_train)
Y_pred3=knn.predict(X_test)
knn.score(X_train, Y_train)

0.9385245135604942

In [149]:
metrics.accuracy_score(Y_test, Y_pred1)

0.9371205221615058

In [158]:
metrics.confusion_matrix(Y_test, Y_pred2)

array([[  309,  1348],
       [  375, 24320]], dtype=int64)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_class))

In [ ]:
plt.subplots(figsize=(10,10))
ax = plt.axes()
ax.set_title("Correlation Heatmap")
corr = df.corr()
sns.heatmap(corr, 
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values,cmap='autumn')

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(df.corr(), annot=True, square=True, vmin=-1, vmax=1)

In [ ]:
sns.heatmap(df.corr()[['renewal']], annot=True, vmin=-1, vmax=1)

In [ ]:
df.head()

In [ ]:
categorical_features = ['residence_area_type']
df_cat = pd.get_dummies(df[categorical_features])
df = df.drop(categorical_features, axis=1)
df = pd.concat([df, df_cat], axis=1)

In [ ]:
categorical_features = ['residence_area_type_Urban,residence_area_type_Rural']
df = df.drop(categorical_features, axis=1)

In [ ]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

In [131]:
null_columns=df_train.columns[df_train.isnull().any()]
df_train[null_columns].isnull().sum()

application_underwriting_score    2974
dtype: int64

In [ ]:
df.head()

In [ ]:
ss = StandardScaler()
scale_features = ['Income']
df[scale_features] = ss.fit_transform(df[scale_features])

In [ ]:
ss = StandardScaler()
scale_features = ['premium']
df[scale_features] = ss.fit_transform(df[scale_features])

In [ ]:
df.head()

In [ ]:
survived_sex = train[train['Survived']==1]['Sex'].value_counts()
dead_sex = train[train['Survived']==0]['Sex'].value_counts()
df = pd.DataFrame([survived_sex,dead_sex])
df.index = ['Survived','Dead']
df.plot(kind='bar',stacked=True, figsize=(10,5), color=['pink','blue'], title='Survival by the Sex')

In [ ]:
fig,ax = plt.subplots()
ax.bar(survived_df.index, survived_df.Counts, width=0.8, color='r')
ax.set_xticks(survived_df.index+0.4)  # set the x ticks to be at the middle of each bar since the width of each bar is 0.8
ax.set_xticklabels(survived_df.Groups)  #replace the name of the x ticks with your Groups name
plt.show()

In [ ]:
figure = plt.figure(figsize=(10,5))
plt.hist([train[train['renewal']==1]['Income'],train[train['renewal']==0]['Income']], 
         stacked=True, color = ['g','r'], 
         bins = 30, label = ['Renewed','Not renewed'])
plt.xlabel('Income')
plt.ylabel('Number of people')
plt.legend()
plt.title('Renewed by ')

In [201]:
def incentive:
    if df['renewal']==1
    amount =
    else
    amount =

SyntaxError: invalid syntax (<ipython-input-201-1c2f09c2115b>, line 1)